<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>
<%= link_to "CSV Import", new_blog_path %>

<div id="blogs">
  <table border>
    <tr>
      <th>BlogTitle</th>
      <th>BlogContent</th>
      <th>Category</th>
      <th>Creatted_at</th>
      <th>Updated_at</th>
    </tr>
    <% @blogs.each do |blog| %>
      <%= render blog %>
    <% end %>
  </table>
</div>


